# Gradle
.gradle/
build/

# Local configuration
local.properties
*.iml

# Android Studio / IntelliJ
.idea/
.DS_Store

# Native build
.externalNativeBuild/
.cxx/

# Android captures
captures/

# Logs
*.log

# Keystore files
*.jks
*.keystore

# Temporary files
*.tmp
*.bak
